.Card{
	height: auto;
	width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}

.card-section{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 50px;
}
